Assets/Firebase/Plugins/x86_64/*.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/*.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppFunctions.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppFunctions.so filter=lfs diff=lfs merge=lfs -text
